@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
nav {
  background: linear-gradient(to right, #e7e7e7, #400A13);
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
}
nav img.logo {
  width: 8rem;
  padding: 1rem;
  margin-left: 2rem;
}
nav .navlinks {
  display: flex;
  list-style: none;
  margin-left: auto;
}
nav .navlinks li {
  padding: 0.5rem 2rem;
}
nav .navlinks li a.navlink {
  text-decoration: none;
  font-size: 2rem;
  color: white;
}

.btn {
  background-color: #400A13;
  padding: 0.5em 1.5em;
  border-radius: 0.375em;
  border: 2px solid transparent;
  cursor: pointer;
  color: white;
  letter-spacing: 0.2em;
  text-decoration: none;
  background-position: 1% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  transition: all 0.3s ease-out;
}
.btn:hover {
  background-position: 99% 50%;
  color: #400A13;
}
.btn.outline {
  border: 2px solid #400A13;
  background-color: transparent;
  color: #400A13;
}

#hero {
  display: grid;
  place-items: center;
  background: linear-gradient(-45deg, #6C63FF, #2b23bd);
  grid-template-columns: 1fr 1fr;
}
#hero .hero {
  color: #400A13;
  margin-bottom: 2rem;
}
#hero .hero__watermark {
  position: absolute;
  font-size: 30vw;
  top: 5%;
  left: 5%;
  opacity: 0.05;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
#hero .hero__title {
  font-size: 5rem;
  line-height: 0.8;
  position: relative;
  z-index: 1;
}
#hero .hero__subtitle {
  font-size: 2rem;
  position: relative;
  z-index: 1;
}
#hero .cta {
  display: flex;
  justify-content: space-evenly;
}

#projects {
  padding: 2rem 10%;
  position: relative;
  background-image: linear-gradient(-60deg, #980f42, #36091f);
}
#projects img.deco {
  opacity: 0.2;
  position: absolute;
  z-index: 0;
}
#projects img.deco#deco1 {
  top: 0;
  left: 0;
}
#projects img.deco#deco2 {
  top: 0;
  right: 0;
}
#projects img.deco#deco3 {
  bottom: 0;
  right: 0;
}
#projects h1 {
  font-size: 6rem;
  color: white;
  font-weight: normal;
}
#projects .project {
  border-radius: 0.5rem;
  background-color: white;
  position: relative;
  z-index: 1;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}
#projects .project__container {
  gap: 1rem;
  -moz-columns: 3 20rem;
       columns: 3 20rem;
}
#projects .project__image {
  width: 100%;
}

#contact {
  padding-top: 1rem;
  display: grid;
  place-items: center;
}

footer {
  height: 1rem;
}

html {
  background: #e7e7e7;
  scroll-behavior: smooth;
}

body {
  display: grid;
}
body nav {
  height: 5rem;
}
body section {
  min-height: calc(100vh - 5rem);
}/*# sourceMappingURL=index.css.map */