// Import variables
@use "./variables/colors" as *;
@use "./utils/typography";

// CSS reset by Adny Bell https://piccalil.li/blog/a-modern-css-reset/
@use "./utils/reset.scss";

// Sections
@use "./sections/navbar";
@use "./sections/hero";
@use "./sections/projects";
@use "./sections/contact";
@use "./sections/footer";

html {
  background: $bg;
  scroll-behavior: smooth;
}

body {
  display: grid;
  nav {
    height: 5rem;
  }
  section {
    min-height: calc(100vh - 5rem);
  }
}


