@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Parisienne&display=swap");
html {
  font-family: "Poppins", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
nav {
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  transition: all 0.3s;
}
nav img.logo {
  width: 8rem;
  margin-left: 2rem;
}
nav .navlinks {
  display: flex;
  list-style: none;
  margin-left: auto;
}
nav .navlinks li a {
  padding: 0.5rem 2rem;
  text-decoration: none;
  font-size: 2rem;
  color: white;
  transition: font-size 0.15s;
}
nav .navlinks li a:hover {
  opacity: 0.8;
}
nav.minimized {
  background: #400A13;
}
nav.minimized img.logo {
  display: none;
}
nav.minimized .navlinks {
  margin: 0;
  margin-left: auto;
}
nav.minimized .navlinks li {
  padding: 0 1rem;
}
nav.minimized .navlinks a {
  font-size: 1.5rem;
}

.btn {
  background-color: #400A13;
  padding: 0.5em 1.5em;
  border-radius: 0.375em;
  border: 2px solid transparent;
  cursor: pointer;
  color: white;
  letter-spacing: 0.2em;
  text-decoration: none;
  background-position: 1% 50%;
  background-size: 300% 300%;
  background-image: linear-gradient(270deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  transition: all 0.3s ease-out;
}
.btn:hover {
  background-position: 99% 50%;
  color: #400A13;
}
.btn.outline {
  border: 2px solid #400A13;
  background-color: transparent;
  color: #400A13;
}

#hero {
  display: grid;
  place-items: center;
  background: linear-gradient(-45deg, #6789CB, #436fc7);
  grid-template-columns: 1fr 1fr;
}
#hero .hero {
  color: #400A13;
  margin-bottom: 2rem;
}
#hero .hero__watermark {
  position: absolute;
  font-size: 30vw;
  top: 5%;
  left: 5%;
  opacity: 0.05;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}
#hero .hero__title {
  font-size: 5rem;
  line-height: 0.8;
  position: relative;
  z-index: 1;
}
#hero .hero__subtitle {
  font-size: 2rem;
  position: relative;
  z-index: 1;
}
#hero canvas {
  cursor: pointer;
}
#hero .cta {
  display: flex;
  justify-content: space-evenly;
}

#projects {
  padding: 2rem 10%;
  position: relative;
  background-image: linear-gradient(-60deg, #980f42, #36091f);
}
#projects img.deco {
  opacity: 0.5;
  position: absolute;
  z-index: 0;
}
#projects img.deco#deco1 {
  top: 0;
  left: 0;
}
#projects img.deco#deco2 {
  top: 0;
  right: 0;
}
#projects img.deco#deco3 {
  bottom: 0;
  right: 0;
}
#projects h1 {
  font-size: 6rem;
  color: white;
  font-weight: normal;
  margin-bottom: 3rem;
}
#projects .project {
  border-radius: 0.5rem;
  background-color: white;
  position: relative;
  z-index: 1;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
  margin-bottom: 1rem;
}
#projects .project__container {
  gap: 1rem;
  -moz-columns: 3 20rem;
       columns: 3 20rem;
}
#projects .project__image {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
}
#projects .project__text {
  padding: 0.5rem 10%;
}
#projects .project__title {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
  color: #952134;
}
#projects .project__stack {
  margin-top: 2rem;
  font-size: 0.8rem;
}
#projects .project__stack ul {
  display: flex;
  width: 100%;
  list-style: none;
  flex-wrap: wrap;
  padding: 0;
  gap: 1em;
}
#projects .project__stack ul li {
  font-size: 1rem;
  padding: 0.25em 0.5em;
  border-radius: 0.25em;
  border: 2px solid #952134;
}
#projects .project__links {
  display: flex;
  justify-content: space-evenly;
}
#projects .project__links .btn {
  font-size: 0.8rem;
  background-color: #952134;
}
#projects .project__links .btn i {
  margin-right: 1em;
}

#contact {
  padding-top: 1rem;
  display: grid;
  place-items: center;
  background-image: linear-gradient(#b9c7df, #7891bd);
  color: #800B1F;
}
#contact .container {
  display: grid;
  grid-template-areas: "pfp header" "pfp links" ". buttons";
  place-items: center;
}
#contact .profilepic {
  grid-area: pfp;
}
#contact .profilepic img {
  width: 100%;
  background-color: gray;
  border-radius: 50%;
  border: 3px solid white;
  display: grid;
  place-items: center;
}
#contact .cta {
  grid-area: buttons;
  display: flex;
  margin-top: 2rem;
}
#contact .cta > * {
  margin: 0 5rem;
}
#contact .cta .btn {
  letter-spacing: 0.1em;
}
#contact .cta #cta__contact {
  box-shadow: 0 0 20px #37a1b7;
  background-image: linear-gradient(270deg, #37a1b7, #37a1b7, white, white);
  border: 1px solid white;
  color: #37a1b7;
}
#contact .cta #cta__contact:hover {
  color: white;
}
#contact .cta #cta__resume {
  box-shadow: 0 0 20px #800b1f;
  border: 1px solid white;
  background-image: linear-gradient(270deg, #800b1f, #800b1f, white, white);
  border: 1px solid white;
  color: #800b1f;
}
#contact .cta #cta__resume:hover {
  color: white;
}
#contact .links {
  grid-area: links;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-self: stretch;
  place-items: center;
  position: relative;
}
#contact .links ul {
  list-style: none;
  padding-left: 0;
}
#contact .links ul.socials {
  display: flex;
  margin: 0;
  font-size: 2rem;
}
#contact .links ul.socials li {
  margin: 0 0.5em;
}
#contact .links ul.socials a {
  padding: 0.5em 1em;
  text-decoration: none;
  color: #800B1F;
  transition: color 0.15s linear;
}
#contact .links ul.socials a:hover {
  color: white;
}
#contact .links::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 60%;
  background-color: white;
}
#contact .header {
  display: flex;
  flex-direction: column;
  justify-content: end;
}
#contact .header h1 {
  font-size: 6rem;
  font-family: "Parisienne";
  font-weight: normal;
  font-style: italic;
  margin: 0.5rem 3rem;
  text-align: center;
}

footer {
  height: 1rem;
}

#modal {
  position: fixed;
  z-index: 100;
  display: grid;
  place-items: center;
  inset: 0;
  background-color: rgba(211, 211, 211, 0.281);
  opacity: 1;
  transition: opacity 0.3s;
}
#modal section {
  width: 90vh;
  min-height: -webkit-fit-content;
  min-height: -moz-fit-content;
  min-height: fit-content;
  background-color: #c97878;
  padding: 2rem 3rem;
}
#modal form {
  display: flex;
  flex-direction: column;
}
#modal form label {
  display: flex;
  flex-direction: column;
}
#modal form input,
#modal form textarea {
  margin: 0.5rem 0;
  padding: 0.3em 0.5em;
}
#modal form textarea {
  resize: none;
}
#modal form input {
  width: 80%;
}
#modal .modal__buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
}
#modal.hide {
  opacity: 0;
  pointer-events: none;
}

#flashMessage {
  position: fixed;
  z-index: 100;
  top: 5rem;
  left: 10%;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
  transition: opacity 0.2s linear;
  border-radius: 0.5em;
}
#flashMessage p {
  padding: 1rem 3rem;
}
#flashMessage button {
  padding: 0.5rem 0.8rem;
  font-size: 2rem;
  background: transparent;
  border: none;
  cursor: pointer;
  opacity: 0.5;
}
#flashMessage button:hover {
  opacity: 1;
}
#flashMessage.success {
  background-color: #4ea874;
}
#flashMessage.danger {
  background-color: #a8544e;
}
#flashMessage.hide {
  opacity: 0;
  pointer-events: none;
}

html {
  background: #e7e7e7;
  scroll-behavior: smooth;
  -ms-scroll-snap-type: y proximity;
      scroll-snap-type: y proximity;
}

body {
  display: grid;
}
body section {
  min-height: 100vh;
  scroll-snap-align: start;
}/*# sourceMappingURL=index.css.map */