// Import variables
@use "./variables/colors" as *;
@use "./utils/typography";

// CSS reset by Adny Bell https://piccalil.li/blog/a-modern-css-reset/
@use "./utils/reset.scss";

// Sections
@use "./sections/navbar";
@use "./sections/hero";
@use "./sections/projects";
@use "./sections/contact";
@use "./sections/footer";
@use "./sections/messageForm";

$nav-height: 5rem;
html {
  background: $bg;
  scroll-behavior: smooth;
  scroll-snap-type: y proximity;
  // scroll-padding-top: $nav-height;
}

body {
  display: grid;
  // nav {
  //   height: $nav-height;
  // }

  section {
    min-height: 100vh;
    scroll-snap-align: start;
    // min-height: calc(100vh - #{$nav-height});
  }
}
