@use "../variables/colors" as *;
@use "../components" as *;

#hero {
  display: grid;
  place-items: center;
  background: linear-gradient(-45deg, #6789cb, #436fc7);
  grid-template-columns: 1fr 1fr;
  // position: relative;
  // z-index: -2;
  .hero {
    color: $main-color;
    margin-bottom: 2rem;
    // z-index: 1;
    &__watermark {
      // z-index: -1;
      position: absolute;
      font-size: 30vw;
      top: 5%;
      left: 5%;
      opacity: 0.05;
      user-select: none;
      pointer-events: none;
    }
    &__title {
      font-size: 5rem;
      line-height: 0.8;
      position: relative;
      z-index: 1;
    }
    &__subtitle {
      font-size: 2rem;
      position: relative;
      z-index: 1;
    }
  }
  canvas {
    cursor: pointer;
  }
  .cta {
    display: flex;
    justify-content: space-evenly;
  }
  @media screen and (max-width: 1000px) {
    grid-template-columns: none;
  }
  @media screen and (max-width:560px) {
    canvas {
      display:none;
    }
    .container {
      display:flex;
      flex-direction: column;
      padding-inline: 2em;
      .hero {
        &__title {
          font-size: 4rem;
        }
        &__subtitle {
          font-size:1.5rem;
        }
      }
    }
    .cta {
      font-size: .8rem;
    }
  }
}
