#modal {
  position: fixed;
  z-index: 100;
  display: grid;
  place-items: center;
  inset: 0;
  background-color: rgba(211, 211, 211, 0.281);
  opacity: 1;
  transition: opacity 0.3s;
  section {
    width: clamp(250px, 90vw, 50rem);
    min-height: fit-content;
    background-color: rgb(201, 120, 120);
    padding: 2rem 3rem;
  }
  form {
    display: flex;
    flex-direction: column;
    label {
      display: flex;
      flex-direction: column;
    }
    input,
    textarea {
      margin: 0.5rem 0;
      padding: 0.3em 0.5em;
    }
    textarea {
      resize: none;
    }
    input {
      width: clamp(10rem, 80%, 30rem);
    }
  }
  .modal__buttons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
  }
  &.hide {
    opacity: 0;
    pointer-events: none;
  }

  @media screen and (max-width: 800px) {
    section {
      padding: 1.5rem 5%;
    }
    input,
    textarea {
      font-size: 0.9rem;
    }
    .modal__buttons {
      font-size: 0.9rem;
    }
  }
}
