@use "../variables/colors" as *;

#projects {
  padding: 2rem;
  position: relative;
  img.deco {
    opacity: 0.5;
    position: absolute;
    z-index: 0;
    // outline: 1px solid white;
    &#deco {
      &1 {
        top: 0;
        left: 0;
      }
      &2 {
        top: 0;
        right: 0;
      }
      &3 {
        bottom: 0;
        right: 0;
      }
    }
  }
  h1 {
    font-size: 6rem;
    color: $light-color;
    font-weight: normal;
    margin-bottom: 3rem;
  }
  .project {
    // border: 1px solid white;
    border-radius: 0.5rem;
    background-color: $light-color;
    position: relative;
    z-index: 1;
    height: min-content;
    break-inside: avoid;
    margin-bottom: 1rem;
    &__container {
      gap: 1rem;
      columns: 3 20rem;
      margin: 0 auto;
      max-width: 70rem;
    }
    &__image {
      width: 100%;
      border-radius: 0.5rem 0.5rem 0 0;
    }
    &__text {
      padding: 0.5rem 10%;
    }
    &__title {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 1.5rem;
      font-weight: normal;
      color: $main-lighter;
    }
    &__stack {
      margin-top: 2rem;
      font-size: 0.8rem;
      ul {
        display: flex;
        width: 100%;
        list-style: none;
        flex-wrap: wrap;
        padding: 0;
        gap: 1em;

        li {
          // margin:0 1em 1em 0;
          font-size: 1rem;
          padding: 0.25em 0.5em;
          border-radius: 0.25em;
          border: 2px solid $main-lighter;
        }
      }
    }
    &__links {
      display: flex;
      justify-content: space-evenly;
      .btn {
        font-size: 0.8rem;
        background-color: $main-lighter;
        i {
          margin-right: 1em;
        }
      }
    }
  }
  background-image: linear-gradient(-60deg, #980f42, #36091f);
  @media screen and (max-width: 800px) {
    // padding:1rem 5%;
    h1 {
      font-size: 3rem;
    }
    .project__links .btn {
      font-size: 0.6rem;
    }
  }
}
