canvas#c

.container
  .hero 
    p.hero__watermark Hello,
    p.hero__title I'm Corentin
    p.hero__subtitle Full stack web developper.

  .cta
    a.btn(href="#projects") Projects
    a.btn.outline(href="#contact") Contact