nav 
  img(src="/assets/images/logo.png", alt="Logo").logo
  ul.navlinks
    li
      a(href="/").navlink Home
    li
      a(href="#projects").navlink Projects
    li
      a(href="#contact").navlink Contact