---
title: "Centre Musical Collois"
githubLink: "https://github.com/Halu89/cmc-frontend"
liveLink: "https://centre-musical-collois.netlify.app/"
image: "/assets/images/projects/cmc.png"
techStack: ["React", "Strapi CMS", "Datafire Mailer"]
description: "Website for a music school, with a blog allowing the school to give news to its users."
date: "2001"
---
