---
title: "DStraduction"
liveLink: "http://dstraduction.herokuapp.com/"
description: "Website for a freelance translator"
techStack: ["Django", "Bootstrap"]
image: "../assets/images/projects/dstraduction.png"
---
