---
title: "DStraduction"
liveLink: "http://dstraduction.herokuapp.com/"
description: "Website for a freelance translator. Uses Django features to enable translation in 3 languages."
techStack: ["Django", "Bootstrap"]
image: "/assets/images/projects/dstraduction.png"
date: "2003"
---
