---
title: "IssueTracker - Frontend"
githubLink: "https://github.com/Halu89/bugtracker-frontend"
techStack: ["React", "TypeScript", "JWT"]
image: "/assets/images/projects/issuetracker.png"
description: "Track projects, file and resolve issues, work in a team, manage privileges."
tags: ["project", "frontend"]
date: "1999"
---