---
title: "IssueTracker - Backend"
githubLink: "https://github.com/Halu89/bugtracker-backend"
techStack: ["Express", "Mocha (Chai)", "JWT", "Mongoose", "Passport"]
description: "IssueTracker Backend. Unit-tested with Mocha, and end-to-end tested with Postman."
tags: ["project", "backend"]
date: "2000"
---