---
title: "Pomodoro Clock"
liveLink: "https://codepen.io/halu89/pen/rNjPQmw"
image: "/assets/images/projects/pomodoro.png"
techStack: ["React"]
description: "Small web app to help focus on tasks."
tags: ["project", "codepen"]
date: "2005"
---
