---
title: "My portfolio"
githubLink: "https://github.com/Halu89/portfolio_v3"
techStack: ["Eleventy", "Pug", "Nodemailer"]
description: "This website. Uses a custom Amazon lambda mailer."
date: "2006"
---