---
title: "Unit converter"
githubLink: "https://github.com/Halu89/UnitConverter"
techStack: ["Express", "Mocha (Chai)"]
description: "API to convert units between imperial and metric."
tags: ["project", "backend"]
date: "2002"
---
